<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/components.css">
  <title>Balanced Alert</title>
  <script src="https://kit.fontawesome.com/b4e205a2c5.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="header">
      <nav>

        <head>
          <a href="/index.html" class="hero">Balanced UI<small>v1.0</small></a>

        </head>
        <div>
          <a href="getting_started/introduction.html" class="nav-item">Documentation</a>
        </div>
      </nav>
    </div>
    <div class="doc-container">
      <div class="side-bar">
        <!-- Get Started List Start -->
        <div class="nested-list1">
          <div class="list-topic">
            <a href="/getting_started/introduction.html">
              Get Started
            </a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/getting_started/introduction.html">
                Introduction
              </a>
            </li>
          </ul>
        </div>

        <!-- Components List start -->
        <div class="nested-list1">
          <div class="list-topic">
            <a href="#">Components</a>
          </div>
          <ul class="list-subtopic">
            <li>
              <a href="/components/avatar/avatar.html">
                Avatar
              </a>
            </li>
            <li>
              <a class="active" href="/components/alert/alert.html">
                Alert
              </a>
            </li>
            <li>
              <a href="#">
                Badge
              </a>
            </li>

          </ul>
        </div>
      </div>

      <div class="doc-content">

        <div class="content-title">
          Alert
        </div>
        <div class="content-description">
          Alerts provide contextual feedback messages for typical user actions with the handful of available and
          flexible alert messages
        </div>

        <div class="example-div">
          <div class="alert primary">
            This is a Primary Alert - Check it now!
          </div>

          <div class="alert error">
            This is an Error Alert - Check it now!
          </div>

          <div class="alert success">
            This is a Success Alert - Check it now!
          </div>

          <div class="alert warning">
            This is a Warning Alert - Check it now!
          </div>
        </div>


        <div class="code-snippet">
          <iframe
          src="https://carbon.now.sh/embed/4Vs81ROZA3ZcD1xQ045p"
          style="width: 496px; height: 502px; border:0; transform: scale(1); overflow:hidden;"
          sandbox="allow-scripts allow-same-origin">
        </iframe>
        </div>
        <div class="divider"></div>

        <footer>
          <div class="prev-comp">
            <a href="../../getting_started/introduction.html"><i class="fas fa-angle-left"></i><span
                class="ml-5">Introduction</span>
          </div>
          <div class="next-comp">
            <a href="/components/avatar/alert.html">Alert<i class="ml-5 fas fa-angle-right"></i></a>

          </div>
        </footer>
      </div>
    </div>
  </div>
</body>

</html>