.alert{
  width: 100%;
  color:white;
  border-radius: 4px;
  background-color: var(--primary-color) ;
  padding: 1rem 1.5rem;
  opacity: .9;
  margin: 1rem 0;
  font-size: 1.2rem;
  text-align: left;
}

.primary{
  background-color: #d9d7f4 ;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  opacity: .8;
}

.error{
  background-color: #fbe8e6;
  border: 2px solid var(--danger-color);
  color: var(--danger-color);
  opacity: .8;
}

.success{
  background-color: #e7f3e7;
  border: 2px solid var(--success-color);
  color: var(--success-color);
  opacity: .8;
}

.warning{
  background-color: #fff5e6;
  border: 2px solid var(--warning-color);
  color: var(--warning-color);
  opacity: .8;
}